In [51]:
""" 
This is just a script for me to do some tests with supabase
"""

from supabase import create_client, Client
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
load_dotenv("../src/.env")  # Load .env from src folder


url: str = os.getenv("SUPABASE_PRJ_URL")
key: str = os.getenv("supabase_anon_key")



supabase: Client = create_client(url, key)

response = supabase.table("real_estate").select("*").execute()
df = pd.DataFrame(response.data)

In [52]:
print(df.columns)
print(df.time_scraped.max())

Index(['unique_id', 'title', 'link', 'bedrooms', 'toilets', 'location',
       'description', 'agent_name', 'phone', 'price', 'area', 'price_1m2',
       'image_1', 'image_2', 'image_3', 'image_4', 'image_5', 'image_6',
       'image_7', 'time_scraped', 'project', 'real_estate_type'],
      dtype='object')
2025-09-24T00:00:00+00:00

In [44]:
print(f"total records: {len(df)}")
df['location'].value_counts()

total records: 367

location
Quận 9, Hồ Chí Minh        108
Quận 2, Hồ Chí Minh         70
Quận 7, Hồ Chí Minh         45
Bình Thạnh, Hồ Chí Minh     37
Tân Phú, Hồ Chí Minh        24
Quận 1, Hồ Chí Minh         18
Bình Tân, Hồ Chí Minh       17
Bình Chánh, Hồ Chí Minh     13
·                            7
Thủ Đức, Hồ Chí Minh         5
Nhà Bè, Hồ Chí Minh          4
Quận 4, Hồ Chí Minh          4
Hóc Môn, Hồ Chí Minh         4
Quận 6, Hồ Chí Minh          3
Quận 3, Hồ Chí Minh          3
Quận 5, Hồ Chí Minh          2
Quận 10, Hồ Chí Minh         2
Tân Bình, Hồ Chí Minh        1
Name: count, dtype: int64

In [47]:
df.groupby('location').agg(
    {
        'price_num': np.mean, 
        'area_num': np.mean,
        'price_1m2': np.mean
    }
).sort_values(by='price_1m2', ascending=False)

                            price_num    area_num   price_1m2
location
·                        15150.000000   93.217143  177.563998
Quận 1, Hồ Chí Minh      14027.222222   62.281667  171.679301
Quận 2, Hồ Chí Minh      14880.000000  106.585429  137.262725
Bình Thạnh, Hồ Chí Minh  11351.324324   96.332432  105.012742
Quận 10, Hồ Chí Minh      8650.000000   86.000000   97.128852
Quận 4, Hồ Chí Minh       6587.500000   80.205000   81.244453
Tân Phú, Hồ Chí Minh      8360.416667  112.408333   75.168800
Quận 7, Hồ Chí Minh       6593.555556   89.653556   72.444897
Quận 3, Hồ Chí Minh       4266.666667   53.633333   72.096309
Thủ Đức, Hồ Chí Minh      4329.800000   69.960000   61.939584
Quận 9, Hồ Chí Minh       4124.870370   69.019444   58.068440
Bình Tân, Hồ Chí Minh     3734.117647   65.923529   56.659040
Nhà Bè, Hồ Chí Minh       2600.000000   47.000000   56.196887
Quận 6, Hồ Chí Minh       4666.666667   91.000000   52.024881
Tân Bình, Hồ Chí Minh     1550.000000   32.000000   48.437500
Quận 5, Hồ Chí Minh       2525.000000   52.500000   48.409091
Bình Chánh, Hồ Chí Minh   2106.153846   61.626154   33.331765
Hóc Môn, Hồ Chí Minh      1275.000000   63.500000   20.246201

In [ ]:
df.query("location.str.contains('Quận 5')").sort_values(by='price_per_m2_recal', ascending=False).head(10)

,unique_id,title,link,bedrooms,toilets,location,description,agent_name,phone,price_num,...,image_1,image_2,image_3,image_4,image_5,image_6,image_7,time_scraped,project,real_estate_type
9,pr43531044,Giảm 500 triệu - chính chủ cần bán căn hộ chun...,https://batdongsan.com.vn/ban-can-ho-chung-cu-...,2,2,"Quận 5, Hồ Chí Minh",None,‎Đăng Nhựt,None,2750,...,nan,nan,None,None,None,None,None,2025-09-02T00:00:00+00:00,None,Căn hộ chung cư
316,pr43991787,Giảm 500 tr cần bán chung cư Nguyễn Trãi,https://batdongsan.com.vn/ban-can-ho-chung-cu-...,2,2,"Quận 5, Hồ Chí Minh",None,‎Nguyễn Văn Ước,None,2300,...,"=IMAGE(""https://file4.batdongsan.com.vn/resize...",,None,None,None,None,None,2025-09-15T00:00:00+00:00,None,Căn hộ chung cư

In [49]:
print(df.price_num.describe())
print(df.area_num.describe())
print(df.price_1m2.describe())

count      367.000000
mean      8087.313351
std       8727.960286
min       1080.000000
25%       3180.000000
50%       5150.000000
75%       9600.000000
max      85000.000000
Name: price_num, dtype: float64
count    367.000000
mean      83.821635
std       41.938307
min       22.010000
25%       59.000000
50%       74.000000
75%       98.000000
max      403.100000
Name: area_num, dtype: float64
count    367.000000
mean      87.769325
std       61.074035
min       18.571429
25%       54.117232
50%       67.678571
75%       96.525793
max      467.903464
Name: price_1m2, dtype: float64

In [28]:
(df.price_num / df.area_num).describe()

count    367.000000
mean      87.769325
std       61.074035
min       18.571429
25%       54.117232
50%       67.678571
75%       96.525793
max      467.903464
dtype: float64